<!DOCTYPE html>
<html lang="en">

<head>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Wright Agency">
  <meta name="author" content="Wright Agency">
  <meta name="robots" content="index,follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Wright Agency">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#db5945">
  <title>Wright Agency</title>

  <!-- Fav and Touch Icons -->
  <meta name="msapplication-TileColor" content="#d9534f">
  <meta name="msapplication-TileImage" content="../../images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="../../images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../../images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="../../images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../../images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../../images/favicons/manifest.json">
  <link rel="shortcut icon" href="../../images/favicons/favicon.ico">

  <!-- Bootstrap -->
  <link href="../../css/bootstrap.min.css" rel="stylesheet">

  <!--=== FONT ICONS ===-->
  <!-- Font Awesome -->
  <link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- IonIcons -->
  <link href="../../assets/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Elegant Icons -->
  <link href="../../assets/elegant-icons/css/elegant-icons.min.css" rel="stylesheet">
  <!--[if lte IE 7]><script src="../../assets/elegant-icons/js/elegant-icons-lte-ie7.min.js"></script><![endif]-->

  <!--=== VENDORS ===-->
  <!-- Slick Carousel -->
  <link href="../../css/vendor/slick.min.css" rel="stylesheet">
  <link href="../../css/vendor/slick-theme.min.css" rel="stylesheet">

  <!-- Blueimp Gallery Lightbox -->
  <link href="../../css/vendor/blueimp-gallery.min.css" rel="stylesheet">

  <!-- Custom -->
  <link href="../../css/main.min.css" rel="stylesheet">
  <link href="../../css/style.min.css" rel="stylesheet">
  <link href="../../css/blog.min.css" rel="stylesheet">
  <link href="../../css/animation.min.css" rel="stylesheet">
  <link href="../../css/responsive.min.css" rel="stylesheet">
  <link href="../../css/typography.min.css" rel="stylesheet">
  <link href="../../css/colors/light.min.css" rel="stylesheet">
  <link href="../../css/colors/belize_hole.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--[if gt IE 8]>
    <link href="../../css/ie9.min.css" rel="stylesheet">
  <![endif]-->
</head>

<body class="body-blog blog-category btn-circle" id="top" data-spy="scroll" data-target=".navbar">

  <!-- Preloader -->
  <div class="preloader">
    <div class="status"></div>
  </div>
  <!-- End Preloader -->


  <!-- LAYOUT -->
  <div class="layout">

    <!-- HEADER -->
    <header>
      <!-- NAVBAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and Toggle -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img class="" alt="Logo"></a>
          </div>
          <!-- End Brand and Toggle -->
          <!-- Menu -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li data-toggle="collapse" data-target="#navbar-collapse-1">
                <a href="index.html#top">Home</a>
              </li>
              <!-- <li data-toggle="collapse" data-target="#navbar-collapse-1">
                <a href="index.html#more">About Us</a>
              </li>
              <li class="dropdown submenu active" data-toggle="collapse" data-target="#navbar-collapse-1">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                <ul class="dropdown-menu first-level">
                  <li><a href="index.html#features">Insurance</a></li>
                  <li><a href="blog-category.html" target="_blank">Venders</a></li>
                </ul>
              </li>
              <li class="dropdown submenu" data-toggle="collapse" data-target="#navbar-collapse-1">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team<span class="caret"></span></a>
                <ul class="dropdown-menu first-level">
                  <li><a href="index.html#team">The Team</a></li>
                  <li><a href="index.html#testimonials">Employee of the Month</a></li>
                </ul>
              </li>
              <li data-toggle="collapse" data-target="#navbar-collapse-1">
                <a href="index.html#contact">Contact</a>
              </li>
              <li class="dropdown li-more">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">+</a>
                <ul class="dropdown-menu" id="overflow"></ul>
              </li> -->
            </ul>
          </div>
          <!-- End Menu -->
        </div>
      </nav>
      <!-- END NAVBAR -->

    </header>
    <!-- END HEADER -->


    <div class="container wrapper-content">

      <!-- MAIN -->
      <div class="c1 col-xs-12 col-sm-9 main">

        <!-- BLOG CONTENT -->
        <section class="blog-content">
          <div class="container-fluid">
            <!-- Section Content -->
            <!-- Categories -->
            <div class="r1 row module module-categories">
              <!-- Module Header -->
              <div class="module-header">
                <h2 class="module-title">Category</h2>
              </div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs list-grid" role="tablist">
                <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><span class="fa fa-th-list"></span></a></li>
                <li role="presentation"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab"><span class="fa fa-th"></span></a></li>
              </ul>
              <!-- End Nav tabs -->
              <!-- End Module Header -->
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="list">
                  <div class="c1 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 1</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c2 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 2</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c3 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 3</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c4 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 4</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c5 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 5</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c6 col-xs-12 media wrapper-post">
                    <!-- Thumbnail -->
                    <div class="media-left thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="media-body content">
                      <h3 class="media-heading title"><a href="vender-detail.html" target="_blank">Vendor 6</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="grid">
                  <div class="c1 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 1">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 1</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c2 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 2">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 2</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c3 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 3">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 3</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="hidden-xs clearfix line-break"></div>
                  <div class="c4 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 4">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 4</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c5 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 5">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 5</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                  <div class="c6 col-xs-12 col-sm-4 wrapper-post">
                    <!-- Thumbnail -->
                    <div class="thumb-overlay">
                      <a class="link-thumb" href="vender-detail.html" target="_blank">
                        <img class="img-responsive thumb" src="../../images/blog/posts/blog_1.jpg" alt="Image 6">
                      </a>
                    </div>
                    <!-- Post content -->
                    <div class="content">
                      <h3 class="title"><a href="vender-detail.html" target="_blank">Vendor 6</a></h3>
                      <p class="description">Quorum e do illum nescius. Nulla singulis transferrem. Admodum distinguantur sed 
                        vidisse de duis quibusdam ut possumus est e elit aliquip in veniam voluptate 
                        ingeniis...</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tab panes -->
            </div>
            <!-- End Categories -->
            
            <!-- Pagination -->
            <div class="r2 row wrapper-pagination">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- End Pagination -->
            <!-- End Section Content -->
          </div>
        </section>
        <!-- END BLOG FOOTER -->

      </div>
      <!-- END MAIN -->

    </div>


    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="r1 row">
          <div class="c1 col-md-12">
            <div class="footer-logo"><!-- <img class="logo" src="../../images/logo_light.png" alt="Logo"> --></div>
            <!-- Social Buttons -->
            <section class="social-icons">
              <h3 class="hide">Social Buttons</h3>
              <a class="btn-social facebook" data-toggle="tooltip" data-placement="top" title="Facebook" href="#" target="_blank"><span class="fa fa-facebook"></span></a>
              <a class="btn-social twitter" data-toggle="tooltip" data-placement="top" title="Twitter" href="#" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="btn-social google-plus" data-toggle="tooltip" data-placement="top" title="Google+" href="#" target="_blank"><span class="fa fa-google-plus"></span></a>
              <a class="btn-social youtube" data-toggle="tooltip" data-placement="top" title="Youtube" href="#" target="_blank"><span class="fa fa-youtube"></span></a>
              <a class="btn-social instagram" data-toggle="tooltip" data-placement="top" title="Instagram" href="#" target="_blank"><span class="fa fa-instagram"></span></a>
              <a class="btn-social email" data-toggle="tooltip" data-placement="top" title="Email" href="#" target="_blank"><span class="fa fa-envelope"></span></a>
              <a class="btn-social rss" data-toggle="tooltip" data-placement="top" title="RSS" href="#" target="_blank"><span class="fa fa-rss"></span></a>
            </section>
            <!-- End Social Buttons -->
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="r1 row">
            <div class="c1 col-md-12">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <a class="go-top" href="#top"><span class="fa fa-chevron-up"></span></a>

  </div>
  <!-- END LAYOUT -->

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="../../js/jquery.min.js"><\/script>')
  </script>

  <!-- Bootstrap -->
  <script src="../../js/bootstrap.min.js"></script>

  <!-- Retina Graphics -->
  <script src="../../js/vendor/retina.min.js"></script>

  <!-- Nicescroll Scrollbars -->
  <script src="../../js/vendor/jquery.nicescroll.min.js"></script>

  <!-- Slick Carousel -->
  <script src="../../js/vendor/slick.min.js"></script>

  <!-- BlueImp Gallery Lightbox -->
  <script src="../../js/vendor/jquery.blueimp-gallery.min.js"></script>

  <!-- Placeholder Polyfill IE9 -->
  <script src="../../js/vendor/simple.min.js"></script>

  <!-- Default General Settings -->
  <script src="../../js/main.min.js"></script>

</body>

</html>