
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-center" id="title-modal-slide-form">Start your FREE trial</h4>
</div>
<div class="modal-body">
  <div class="alerts alerts-trial-modal"></div>
  <!-- Modal Subscription form -->
  <div class="form-horizontal modal-trial-form" role="form">
    <fieldset>
      <div class="form-group">
        <input class="form-control" id="modal-trial-name" name="modal-trial-name" type="text" placeholder="Name *" required>
      </div>
      <div class="form-group">
        <input class="form-control" id="modal-trial-email" name="modal-trial-email" type="email" placeholder="Email *" required>
      </div>
      <div class="form-group">
        <input class="form-control" id="modal-trial-phone" name="modal-trial-phone" type="tel" placeholder="Phone">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-block btn-danger btn-submit submit-modal-form-trial" type="submit">Get Your Free Trial</button>
      </div>
    </fieldset>
  </div>
  <!-- End Modal Subscription form -->
</div>